@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);

}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.title{
  text-align: center;
  
}
.title h3{
  text-transform:uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--clr-black);
}
.underline{
  width: 10rem;
  height: 1rem;
  background: var(--clr-primary-8);
  margin: 0 auto;
}
::-webkit-scrollbar {
  display: none;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}


@layer base {
  :root {
    --color-bg: 227 227 227;
    --color-primary: 255 255 255;
    --color-secondary:255 255 255;
    --color-ascent1: 0 0 0;
    --color-ascent2: 89 91 100;
    --color-blue: 6 90 216;
    --color-white: 255 255 255;

  }
  /* //15 23 42  21 30 49*/
  [data-theme="dark"] {
     --color-bg: 12 12 12;
     --color-primary: 31 31 31;
    --color-secondary: 47 45 48;
    --color-ascent1: 255 255 255;
    --color-ascent2: 164 161 162;
    --color-blue: 6 90 216;
    /* //16 176 255; */
    --color-white: 255 255 255;
  }
}
.light {
  background-color: #fff;
  color: #000;
  /* other light theme styles */
}

/* dark theme styles */
.dark {
  background-color: #000;
  color: #fff;
  /* other dark theme styles */
}
.top-bar{
  padding: 0.5rem;
  background-color: black;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.link{
  color:black;
}
.error-container {
  padding: 20px;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-bottom: 15px;
  border-radius: 5px;
}

.error-message {
  margin: 0;
  color: #d8000c;
}
.postContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}
.post-location{
  flex: 2;
}
.post{
  flex: 1;
}

.post-search{
  background-color: #000;
  color: white;
}
.post-image{
  width: 200px;
  height: 300px;
  object-fit: cover;
 margin: 0 auto; 
}


.profile-picture {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Circular shape */
  object-fit: cover; /* Keep the aspect ratio */
  border: 2px solid #fff; /* White border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for depth */
}

/* Additional styling for the container of the image, if needed */
.profile-picture-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  margin-bottom: 20px; /* Space below the image */
}
